export(mel)
export(fel)
export(floop)
export(floopSplit)
export(floop.repeated)
export(fel.repeated)
export(mloop)
S3method(print,ellipsefit)
S3method(plot,ellipsefit)
S3method(summary,ellipsefit)
S3method(residuals,ellipsefit)
S3method(rstudent,ellipsefit)
S3method(fitted,ellipsefit)
S3method(coef,ellipsefit)
S3method(print,ellipsesummary)
S3method(plot,ellipsesummary)
S3method(residuals,ellipsesummary)
S3method(rstudent,ellipsesummary)
S3method(fitted,ellipsesummary)
S3method(coef,ellipsesummary)
S3method(print,fittedloop)
S3method(plot,fittedloop)
S3method(summary,fittedloop)
S3method(residuals,fittedloop)
S3method(rstudent,fittedloop)
S3method(fitted,fittedloop)
S3method(coef,fittedloop)
S3method(print,loopsummary)
S3method(plot,loopsummary)
S3method(residuals,loopsummary)
S3method(rstudent,loopsummary)
S3method(fitted,loopsummary)
S3method(coef,loopsummary)
S3method(print,splitloop)
S3method(plot,splitloop)
S3method(summary,splitloop)
S3method(residuals,splitloop)
S3method(rstudent,splitloop)
S3method(fitted,splitloop)
S3method(coef,splitloop)
S3method(print,splitloopsummary)
S3method(plot,splitloopsummary)
S3method(residuals,splitloopsummary)
S3method(rstudent,splitloopsummary)
S3method(fitted,splitloopsummary)
S3method(coef,splitloopsummary)
S3method(print,ellipsefitlist)
S3method(plot,ellipsefitlist)
S3method(summary,ellipsefitlist)
S3method(residuals,ellipsefitlist)
S3method(rstudent,ellipsefitlist)
S3method(fitted,ellipsefitlist)
S3method(coef,ellipsefitlist)
S3method(print,ellipsesummarylist)
S3method(plot,ellipsesummarylist)
S3method(residuals,ellipsesummarylist)
S3method(rstudent,ellipsesummarylist)
S3method(fitted,ellipsesummarylist)
S3method(coef,ellipsesummarylist)
S3method(print,fittedlooplist)
S3method(plot,fittedlooplist)
S3method(summary,fittedlooplist)
S3method(residuals,fittedlooplist)
S3method(rstudent,fittedlooplist)
S3method(fitted,fittedlooplist)
S3method(coef,fittedlooplist)
S3method(print,loopsummarylist)
S3method(plot,loopsummarylist)
S3method(residuals,loopsummarylist)
S3method(rstudent,loopsummarylist)
S3method(fitted,loopsummarylist)
S3method(coef,loopsummarylist)
import(parallel,car,msm,stats,nlrwr)
